/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


/* **************************************** */


/*            Style Guide List              */


/* **************************************** */


/*
    1. Common style;
        1.1. Form;
        1.2. Table;
        1.3. Breadcrumbs;
        1.4. Buttons;
        1.5. Spinner;
        1.6. Cookie;
        1.7. Product Card;
        1.8. Banners;
    2. Typography;
    3. Header;
        3.1. Hamburger;
    4. Category;
    5. Product;
    6. Search;
    7. Checkout cart;
    8. Checkout;
    9. Status order;
    10. Recommended order style;
    11. Footer;
    12. Temporary response style;
 */


/* ********** 1. COMMON STYLE ********** */

html,
body {
    height: 100%;
}

body {
    line-height: 1.15;
    margin: 0;
    background-color: #f8f8f8;
    font: normal 16px/24px Rubik, sans-serif;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    flex-direction: column;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

input {
    overflow: visible;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

details {
    display: block;
}

summary {
    display: list-item;
}

menu {
    display: block;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.fadeIn {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

p,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:focus {
    border: transparent;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.hr {
    border-top: 1px solid #e8ebee;
    width: 100%;
    margin: 0;
}

.h--bold {
    color: #0e2f4b;
    font-weight: 700;
}

.show {
    display: block;
}

.hide {
    display: none;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

text {
    display: none !important;
}


/* 1.1. FORM */

form {
    width: 100%;
}

.form-control::-webkit-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control:-ms-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control::-ms-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control::-webkit-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control::-moz-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control:-ms-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control::-ms-input-placeholder {
    color: #444;
    font-size: 14px;
}

.form-control,
.form-control::placeholder {
    color: #444;
    font-size: 14px;
}

form legend,
form label {
    color: #99a2aa;
    font-family: "Rubik Regular",sans-serif;
    font-weight: 400;
}

.error {
    border-color: red;
    color: red;
}

.error:focus {
    border-color: red;
}

.form-control:focus {
    border-color: #ffb80a;
}

button:disabled,
input:disabled,
select:disabled {
    cursor: not-allowed !important;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.custom-select,
.form-control {
    border-radius: 10px;
    padding-left: 20px;
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 70px;
}

.custom-select {
    background: url(../img/arrow_down.png) no-repeat right 0.75rem center/15px 8px;
}

.custom-select:focus,
select:focus {
    border-color: #ced4da;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* 1.1.1. Select2 customization */

.select2-container {
    width: 100% !important;
}

.select2-selection__arrow {
    display: none;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    background-color: #e9ecef;
    color: #495057 !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 10px;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single[aria-expanded="true"] {
    border-color: #ffb80a;
}

.select2-container .select2-selection--single {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.select2-selection__rendered {
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-search__field:focus {
    outline: none;
    border-radius: 5px;
}

.select2-dropdown {
    border-color: #ffb80a;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ffb80a;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ffb80a;
    color: white;
}


/* 1.2. TABLE */

.table .grey {
    color: #99a2aa;
}

.table thead td {
    font: 600 14px "Open Sans", sans-serif;
}

.table td {
    border: none;
    height: 100%;
    vertical-align: middle;
}

.table a {
    display: inline-table;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.table a:hover {
    color: #000;
}


/* 1.3. BREADCRUMBS */

.breadcrumb {
    background-color: #f8f8f8;
    padding-left: 0;
    margin: 0;
    color: #99a2aa;
    font-size: 14px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb-item.active {
    color: #99a2aa;
}


/* 1.4. BUTTONS */

.btn {
    font: 18px/24px Rubik, sans-serif;
    color: #0e2f4b;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.btn--large {
    height: 70px;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

.btn--small {
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.btn-more:focus {
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.btn--dark {
    color: #fff;
    background-color: #102942;
}

.btn--dark:hover {
    background-color: #8e98a0;
    color: #fff;
}

.btn--lh {
    line-height: 70px;
}

.btn--improve {
    color: #ffb80a;
    cursor: pointer;
    font-size: 14px;
    max-width: 120px;
    margin-left: auto;
}

.btn--improve:hover {
    color: #d69800;
}

.btn--link {
    max-width: 40%;
    line-height: 55px;
}

.btn--xs {
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-year-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn-year {
    margin: 15px 15px;
    width: 30%;
    max-width: 30%;
    outline: 0;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.btn-year:focus {
    outline: 0;
}


/* scrollTopBtn кнопка */

@-webkit-keyframes breathing {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 150px;
    z-index: 99999;
    border: 2px solid #0e2f4b;
    outline: 0;
    background-color: #0e2f4b;
    color: #f8f8f8;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
    opacity: 1;
}

#scrollTopBtn:active,
#scrollTopBtn:focus,
#scrollTopBtn:hover {
    text-decoration: none;
    background-color: #f8f8f8;
    color: #0e2f4b;
}

@media screen and (max-width: 1400px) {
    #scrollTopBtn {
        right: 50px;
    }
}

@media screen and (max-width: 767px) {
    #scrollTopBtn {
        right: 5px;
        padding: 13px 15px;
    }
    #scrollTopBtn .fa {
        font-size: 16px;
    }
}


/* error text */

#error-text {
    max-width: 90%;
}


/* 1.5. SPINNER */

#payBtn,
#invoiceBtn {
    position: relative;
}

.pay-text {
    pointer-events: none;
}

.spinner,
.spinner-field {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    overflow: hidden;
}

.spinner {
    display: none;
}

.spinner-field {
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.support {
    display: none;
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.support h1 {
    color: red;
    text-transform: uppercase;
}

.support p {
    margin-bottom: 15px;
}

.support table {
    width: 700px;
    margin: 0 auto;
}

.support td {
    width: 70px;
}

.support td img {
    display: inline-block;
}


/* 1.6. COOKIE */

.cookie-message {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    z-index: 1000000;
    padding: 30px;
    -webkit-box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}

.cookie-message .flex-left {
    width: 100%;
    max-width: calc(100% - 170px);
    padding: 0 30px 0 0;
}

.cookie-message .flex-left p {
    line-height: 20px;
    padding-bottom: 10px;
}

.cookie-message .flex-left p:first-child {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #0e2f4b;
}

.cookie-message .flex-left p:last-child {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #99a2aa;
    padding: 0;
}

.cookie-message .flex-left p:last-child a {
    color: #99a2aa;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: background-size 500ms linear;
    -o-transition: background-size 500ms linear;
    transition: background-size 500ms linear;
    background-image: -webkit-gradient(linear, left top, right top, from(#99a2aa), to(#99a2aa));
    background-image: -o-linear-gradient(left, #99a2aa, #99a2aa);
    background-image: linear-gradient(90deg, #99a2aa, #99a2aa);
    background-repeat: no-repeat;
    background-position: 0 95%;
    background-size: 100% 1px;
}

.cookie-message .flex-left p:last-child a:hover {
    color: #99a2aa;
    text-decoration: none;
    cursor: pointer;
    background-size: 0 1px;
}

.cookie-message .flex-right {
    width: 100%;
    max-width: 170px;
}

.cookie-message .flex-right .btn-blue {
    background-color: #0e2f4b;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    display: block;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    border: 0;
}

.cookie-message .flex-right .btn-blue:hover {
    background-color: #99a2aa;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .cookie-message {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .cookie-message .flex-left {
        padding: 0 0 20px;
        max-width: 100%;
    }
    .cookie-message .flex-right {
        max-width: 100%;
    }
    .cookie-message .flex-right .btn-blue {
        line-height: 50px !important;
        font-size: 12px !important;
        margin: 0 auto;
        max-width: 240px;
    }
}


/* 1.7. PRODUCT CARD */

.product {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}

.product:hover .product__overflow {
    top: 0;
}

.product__main {
    padding: 20px;
}

.product__img--cut {
    max-height: 100%;
    max-width: 230px;
}

.product__header {
    font-weight: 400;
    margin-bottom: 20px;
}

.product__price {
    font-size: 18px;
    font-weight: 700;
}

.product__overflow {
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.product__overflow:hover {
    color: #000;
}

.product__descr {
    padding-top: 20px;
    display: block;
    color: #99a2aa;
    font-size: 14px;
    line-height: 20px;
}

.product__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* **********  1.8. Banners; ********** */
.item {
    margin: 10px 0;
}

.item > * {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item a {
    display: block;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.item a:hover {
    background-color: transparent;
    box-shadow: 0 3px 35px 0 rgba(95,98,102,.17);
}


/* ********** 2. Typography ********** */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.h1 {
    font: 500 48px/48px Rubik, sans-serif;
}

.h2 {
    font: 500 36px/36px Rubik, sans-serif;
}

.h3 {
    font: 400 24px/24px Rubik, sans-serif;
    color: #99a2aa;
}

.h4 {
    font: 400 20px/20px Rubik, sans-serif;
}

.h5 {
    font: 400 18px/18px Rubik, sans-serif;
}

.h6 {
    margin: 0;
    font: 500 14px Rubik, sans-serif;
    color: #0e2f4b;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


/* ********** 3. HEADER ********** */

.header {
    background-color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.header__top {
    width: 100%;
    height: 100%;
}

.header .brand {
    margin-right: 40px;
}

.header-logo {
    max-width: 185px;
}

.header .brand a {
    display: block;
}

.header .nav__item {
    margin-right: 20px;
}

.header .nav__link {
    color: #99a2aa;
    height: 90px;
    display: block;
    line-height: 90px;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.header .nav__link:focus,
.header .nav__link:hover {
    color: #000;
    border-bottom: 2px solid #0e2f4b;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.header .cart {
    margin-right: 50px;
    position: relative;
}

.header .cart button {
    color: #0e2f4b;
    padding: 10px;
    padding-right: 30px;
    border-radius: 5px;
    font: 500 12px/12px Rubik, sans-serif;
    letter-spacing: 0.5px;
}

.header .cart__bag {
    pointer-events: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.header .cart__bag img {
    width: 20px;
    height: 20px;
    position: relative;
}

.header .cart__counter {
    margin-top: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: red;
    font: 600 10px/10px "Open Sans", sans-serif;
}

.header .modal .close:focus {
    outline: 0;
}

.header .modal-total {
    border-top: 1px solid #dee2e6;
}

.header .modal-footer {
    border-top: 0;
}

.header .call span {
    display: block;
    color: #000;
    font-weight: 500;
}

.header .call a {
    color: #b2b9bf;
    font-weight: 300;
}


/* 3.1. HAMBURGER */

.hamburger {
    height: 24px;
    display: none;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.22s;
    -o-transition-duration: 0.22s;
    transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* ********** 4. CATEGORY ********** */

.category__list a {
    color: #082b40;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.category__list a:hover {
    color: #ffb80a;
}

.pagination li {
    margin-right: 20px;
}

.pagination li.active a {
    color: #000;
}

.pagination a {
    color: #99a2aa;
}


/* ********** 5. PRODUCT ********** */

.card-content {
    background-color: #fff;
    padding: 100px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
}

.card-content__quantity {
    margin: 30px 0;
}

.card-content .custom-control {
    width: 100%;
}

#subscribe .custom-control-label::after,
#subscribe .custom-control-label::before {
    top: 50%;
    left: 50%;
    background-color: ;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #E8EBEE;
}

.custom-control-input:disabled~.custom-control-label::after {
    background-color: #E8EBEE;
}

.custom-control-input:disabled~.custom-control-label {
    color: #E8EBEE;
}

.card__quantity--header {
    margin: 15px 35px;
    color: #99a2aa;
    font: 400 15px "Open Sans", sans-serif;
    letter-spacing: -0.44px;
}

.card__submit .price-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card__submit .price-table .adding,
.card__submit .price-table .adding-value,
.card__submit .price-table .delivery,
.card__submit .price-table .delivery-value,
.card__submit .price-table .total,
.card__submit .price-table .total-value {
    width: 48%;
    margin-top: 10px;
    min-height: 40px;
    padding: 10px 10px 10px 0;
    font-weight: 500;
}

.card__submit .price-table .adding-value,
.card__submit .price-table .delivery-value,
.card__submit .price-table .total-value {
    text-align: right;
}

.card__submit .price-table span {
    margin-top: 10px;
    min-height: 40px;
    padding: 10px 0 10px;
    font-weight: 500;
}

.card__descr {
    font-family: "Open Sans";
    font: 400 14px "Open Sans", sans-serif;
    letter-spacing: -0.42px;
    margin-bottom: 20px;
}

.card__descr--descr {
    color: #99a2aa;
    display: block;
    margin: 15px 0 10px;
}

.card__descr p {
    padding-bottom: 5px;
}

.card {
    border: 0;
}

.card-header {
    cursor: pointer;
    padding: 0;
    background-color: #fff;
}

.catalor-year {
    margin: 15px 0;
}

.card__complect {
    list-style-type: disc;
    margin-left: 20px;
}

.subs-period-label {
    cursor: pointer;
}

.descr__link {
    font-style: italic;
    text-decoration: underline;
    color: #000;
}

#promo .form-group {
    margin-bottom: 0;
}

#promo .col-auto:first-child {
    padding-right: 0;
}

#promo__text {
    height: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

#promo__btn {
    font-weight: 400;
    color: #fff;
    height: 35px;
}

#promo__help {
    display: block;
    /* padding: 0 15px; */
}

.three-points {
    margin: 0;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* ********** 6. SEARCH ********** */

.search__form {
    margin: 25px 0;
}

/*.search__form #search{
    justify-content: space-between;
}*/

.search__form .input-groups{
    justify-content: space-between;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 53%;
}

.search__form input {
    position: relative;
}

.search__form .search-icon {
    content: "";
    background: url(../img/search_icon.png) no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    height: 27px;
    width: 27px;
    pointer-events: none;
}


/* ********** 7. CHECKOUT CART ********** */

.order {
    background-color: #fff;
    border-radius: 10px;
    padding: 90px 0;
    margin-top: 40px;
}

.order__submit {
    margin-top: 35px;
}

.order__submit-text {
    margin-bottom: 20px;
}

.order__submit-text span {
    font-size: 18px;
    font-weight: 700;
}

.custom-checkbox {
    border-color: #e8ebee;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffb80a;
    border-color: #e8ebee;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    border-color: #e8ebee;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* ********** 8. CHECKOUT ********** */

.checkout .accept a {
    color: #99a2aa;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.checkout .recipient-email-warning {
    color: #99a2aa;
    font-size: 12px;
}

.asterisk-required {
    color: red;
}

.checkout .accept a:hover {
    color: #ffb80a;
    text-decoration: underline;
}

.checkout #checkout__form {
    background-color: #fff;
    padding: 50px 100px;
}

.checkout .commodity__name {
    margin-bottom: 20px;
    border-radius: 5px;
}

.checkout .commodity__name span {
    display: block;
    color: #99a2aa;
    margin-right: 15px;
    font: 14px "Open Sans", sans-serif;
}

.checkout .commodity__name {
    font-size: 14px;
}

.checkout .commodity__link {
    color: #99a2aa;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.checkout .commodity__link:hover {
    color: #ffb80a;
}

.checkout .commodity__price {
    margin-bottom: 20px;
}

.checkout #commodity__price,
.checkout #commodity__total {
    margin: 30px 0;
}

.checkout__collapsed {
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 100px;
    display: none;
}

.checkout .recipient-info__item,
.checkout .sender-info__item {
    color: #0e2f4b;
    font: 400 14px/22px "Open Sans", sans-serif;
}

.checkout__appeal {
    display: block;
    height: auto;
    width: 50%;
    padding: 20px 15px;
    line-height: 1.5;
    color: #f00;
    background-color: #ffc107;
    border-color: #ffc107;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.checkout__appeal:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.checkout__appeal-txt {
    color: #99a2aa;
    font-family: "Rubik Regular",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    width: 50%;
    padding-left: 15px;
}
.checkout__find-address {
    display: none;
    padding: 0 0.75em;
}
.checkout__find-address.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.field-wrap.error .custom-select {
    border-color: red;
}

.select2-selection.select2-selection--single {
    padding-left: 15px;
}

.custom-radio.error .custom-control-label {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    border: 1px solid #ffb80a;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #ffb80a;
    background-image: none !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: -21px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-radio.error .custom-control-label {
    color: #ff0000;
}

.checkout__form[data-type="individual"] .invoise {
    display: none;
}

.checkout__form[data-type="company"] .invoise {
    display: block;
}

.tabs__caption {
    margin: 0 -100px;
    padding: 20px 0;
    background-color: #f8f8f8;
}

.tabs__caption li {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #99a2aa;
    line-height: 1;
    font-weight: 600;
    width: 100%;
    height: 70px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.tabs__icon {
    margin-right: 10px;
}

.type-choice {
    padding: 0 0.75em;
}

.type-choice .custom-control-label {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .tabs__caption {
        margin: 0 -50px;
    }
    .tabs__caption li {
        padding: 0 5px;
        font-size: 14px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .tabs__icon {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .tabs__caption {
        margin: 0 -15px;
    }
    .tabs__caption li {
        padding: 0 5px;
        font-size: 12px;
    }
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption li:hover,
.tabs__caption li.active {
    color: #000;
    border: 1px solid #ced4da;
}

.tabs__content {
    display: none;
    border-radius: 10px;
}

.tabs__content.active {
    display: block;
}

.tabs__caption li #target-icon,
.tabs__caption li #target-icon-with-fill-blue,
.tabs__caption li #line,
.tabs__caption li #target-icon-with-fill {
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.tabs__caption li.active #target-icon,
.tabs__caption li:hover #target-icon {
    stroke: #000;
}

.tabs__caption li.active #target-icon-with-fill,
.tabs__caption li:hover #target-icon-with-fill {
    fill: #fec02f;
}

.tabs__caption li.active #target-icon-with-fill-blue,
.tabs__caption li:hover #target-icon-with-fill-blue {
    fill: #1dabf1;
}

.tabs__caption li.active #line,
.tabs__caption li:hover #line {
    fill: #000;
}

.mailbox-text {
    font-size: 10px;
    color: #99a2aa;
    line-height: 1;
}

.recipient-mailbox {
    position: relative;
}

.recipient-mailbox::before,
.recipient-mailbox::after {
    display: block;
    content: "";
    position: absolute;
    left: -30px;
    height: 35px;
    width: 30px;
    border-left: 2px dashed;
    border-color: #ced4da;
}

.recipient-mailbox::before {
    top: 28%;
    border-top: 2px dashed;
    border-top-left-radius: 10px;
    border-color: #ced4da;
}

.recipient-mailbox::after {
    bottom: 15%;
    border-bottom: 2px dashed;
    border-bottom-left-radius: 10px;
    border-color: #ced4da;
}

.recipient-require {
    position: absolute;
    top: 55%;
    left: -32px;
}

@media screen and (max-width: 575px) {
    .recipient-mailbox::before,
    .recipient-mailbox::after {
        left: -15px;
        width: 15px;
    }
    .recipient-require {
        left: -17px;
    }
}


/* ********** 9. STATUS ORDER ********** */

.tracking__search {
    position: relative;
}

.tracking__btn {
    position: absolute;
    top: 5px;
    right: 20px;
    bottom: 5px;
    max-width: 30%;
    height: 60px;
}

.tracking__info {
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    display: none;
    position: relative;
    overflow: hidden;
}

.tracking__error {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.status {
    font-weight: 700;
    margin-bottom: 15px;
}

.status__value {
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
}

.status__value::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.status__value--green::after {
    background-color: green;
}

.status__value--red::after {
    background-color: red;
}

.date,
.index,
.order-name,
.orderid,
.subscription {
    color: #99a2aa;
}

.date__value,
.index__value,
.order-name__value,
.orderid__value,
.subscription__value {
    margin-bottom: 10px;
}

.more__link {
    color: #313d45;
    font: bold 14px "Open Sans", sans-serif;
}

.more__link img {
    margin-left: 10px;
}


/* ********** 10. RECOMMENDED MODULE STYLE ********** */

.catalog-link {
    margin-bottom: 30px;
}

.catalog-link a {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.catalog-link a:hover {
    color: #ffc107;
}


/* ********** 11. FOOTER ********** */

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #1d2023;
    padding-top: 80px;
}

.footer .brand a {
    color: #fff;
}

.footer .contacts a {
    color: #fff;
}

.footer .brand>a {
    padding-bottom: 20px;
}

.footer .socials__item a {
    display: block;
    padding: 10px;
}

.footer .socials__item a i {
    font-size: 20px;
    color: #99a2aa;
}

.footer .socials__item a:hover i {
    color: #fff;
}

.footer .contacts {
    color: #fff;
}

.footer .contacts p {
    line-height: 22px;
    font-weight: 300;
}

.footer .copyright {
    background-color: #181c1f;
    text-align: center;
    color: #686c6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 18px 0 18px;
    margin-top: 80px;
}

/* **********Modal window in checkout*************** */

.modal-backdrop {
    position: relative;
 }

.modal, .read-more-modal {
    display: none;
    position: fixed;
    z-index: 889;
    padding-top: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal .modal-content, .read-more-modal .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 80px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 770px;
    animation-name: animateModal;
    animation-duration: 1000ms;
    z-index: 888;
    transition: all 1000ms ease-in-out;
}

.modal .modal-content .modal-header, .read-more-modal .modal-content .modal-header {
    padding: 0px;
    border: none;
    position: relative;
}

.modal .modal-content .modal-header h3, .read-more-modal .modal-content .modal-header h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0px;
}

.modal .modal-content .modal-header .close, .read-more-modal .modal-content .modal-header .close {
    position: absolute;
    color: #99a2aa;
    float: right;
    font-weight: 700;
    transition: all 500ms linear;
    top: -35px;
    right: -20px;
    padding: 0px;
    opacity: 1;
    font-size: 36px;
    z-index: 1;
}

.modal .modal-content .modal-header .close:active, .read-more-modal .modal-content .modal-header .close:active, .modal .modal-content .modal-header .close:focus, .read-more-modal .modal-content .modal-header .close:focus {
    outline: none;
}

.modal .modal-content .modal-header .close:hover, .read-more-modal .modal-content .modal-header .close:hover {
    color: #99a2aa !important;
}

.modal .modal-content .modal-body, .read-more-modal .modal-content .modal-body {
    padding: 0px;
}

.read-more-modal .modal-content .modal-body {
    padding: 0px;
}

.read-more-modal .modal-content .modal-body .headline-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.read-more-modal .modal-content .modal-body .headline-block .flex-left {
    width: 100%;
    max-width: 170px;
}

.read-more-modal .modal-content .modal-body .headline-block .flex-left img {
    width: 100%;
    max-width: 170px;
    border-radius: 10px;
}

.read-more-modal .modal-content .modal-body .headline-block .flex-right {
    padding: 0px 100px 0px 30px;
}

.read-more-modal .modal-content .modal-body .headline-block .flex-right h5 {
    padding-bottom: 10px;
    line-height: 32px;
}

.read-more-modal .modal-content .modal-body .headline-block .flex-right p {
    color: #99a2aa;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 18px;
}
 .submitButton {
    background-color: #fdc13d;
    color: #0e2f4b;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    transition: all 500ms linear;
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 8px;
    border: 0;
}

.submitButton:active, .submitButton:focus {
    outline: none;
    text-decoration: none;
}

.submitButton:hover {
    background-color: #ffd50a;
    color: #0e2f4b;
    cursor: pointer;
    text-decoration: none;
}

.submitButton:disabled, .submitButton.disabled {
    background-color: #e8ebee;
    color: #3d4e5d;
    pointer-events: none;
}

.textBottom {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    padding-bottom: 45px;
    margin-bottom: 0px;
}

.textModal {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.boldText {
    font-weight: 500;
    padding: 8px 0px;
}

.modal-title {
    padding-bottom: 8px;
}


/* TODO: temporary response */


/* ********** 12. TEMPORARY RESPONSE STYLE ********** */


/* Adding beta text in title */

#home-container .h1 span {
    font-size: 16px;
    vertical-align: top;
}

.call-icon {
    display: none;
}

.tracking__btn i {
    display: none;
}

@media screen and (max-width: 1199px) {
    .order .btn--link {
        max-width: 100%;
    }
    .order .btn--link:first-child {
        margin-right: 10px;
    }
    .order .btn--link:last-child {
        margin-left: 10px;
    }
    .header {
        position: relative;
        z-index: 9999;
    }
    .header::after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        right: 100%;
        height: 1%;
        background-color: #99a2aa;
        -webkit-transition: right 0.3s linear;
        -o-transition: right 0.3s linear;
        transition: right 0.3s linear;
    }
    .header.open:after {
        -webkit-transition: right 0.3s linear 0.3s;
        -o-transition: right 0.3s linear 0.3s;
        transition: right 0.3s linear 0.3s;
        right: 0;
    }
    .header__wrap {
        padding: 10px 0;
        background-color: #fff;
    }
    .header .cart {
        margin-right: 15px;
    }
    .header .cart button {
        padding-right: 0;
        padding: 15px;
    }
    .cart button span {
        display: none;
        text-align: center;
    }
    .call {
        margin-right: 15px;
    }
    .call-num {
        display: none;
    }
    .call-icon {
        display: block;
    }
    .call-icon i {
        color: #ffc107;
        font-size: 32px;
        -webkit-transition: 0.3 linear;
        -o-transition: 0.3 linear;
        transition: 0.3 linear;
    }
    .call-icon i:hover {
        color: #e0a800;
    }
    .header .brand {
        margin-right: 20px;
    }
    .header .nav {
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        background-color: #fff;
        -webkit-transition: top 0.3s linear 0.3s;
        -o-transition: top 0.3s linear 0.3s;
        transition: top 0.3s linear 0.3s;
    }
    .header .nav.open {
        -webkit-transition: top 0.3s linear;
        -o-transition: top 0.3s linear;
        transition: top 0.3s linear;
        top: 100%;
    }
    .header .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        width: 100%;
    }
    .header .nav__item {
        margin-right: 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    .header .nav__link {
        height: 30px;
        line-height: 30px;
        margin: 0 auto;
    }
    .header .nav__link:hover {
        border-bottom: none;
    }
    .hamburger {
        display: inline-block;
    }
    .product__img {
        margin: 0 auto;
    }
    .checkout__appeal {
        font-size: 13px;
    }
    .checkout__appeal-txt {
        font-size: 13px;
    }
}

@media screen and (max-width: 992px) {
    .search__form .input-groups{
        justify-content: space-between;
        width: 100%;
    }

@media screen and (max-width: 767px) {
    .checkout__collapsed {
        padding: 15px 50px;
        margin-bottom: 30px;
    }
    .checkout #checkout__form {
        padding: 25px 50px;
        margin-bottom: 30px;
    }
    .order .btn--link:first-child {
        margin: 0;
        margin-bottom: 20px;
    }
    .order .btn--link:last-child {
        margin: 0;
    }
    .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer .socials {
        margin-top: 20px;
        margin-left: -10px;
    }
    .thumbnail {
        margin-right: auto;
        margin-bottom: 20px;
    }
    .modal-footer> :not(:last-child) {
        margin: 0;
        margin-bottom: 20px;
    }
    .modal-footer> :not(:first-child) {
        margin-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .header-logo {
        max-width: 150px;
    }
    .checkout__collapsed {
        padding: 15px;
    }
    .tracking__btn span {
        display: none;
    }
    .tracking__btn i {
        display: block;
    }
    .h1 {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .checkout #checkout__form {
        padding: 15px;
    }
    .order .btn--link {
        font-size: 16px;
    }
    .catalog-year {
        border: 1px solid #6c757d;
        padding: 5px 10px;
        background-color: #ccc;
    }
    .month-item {
        border-top: 1px solid #6c757d;
        border-left: 1px solid #6c757d;
    }
    .month-item:nth-child(4n + 4) {
        border-right: 1px solid #6c757d;
    }
    .month-item:nth-child(n + 9) {
        border-bottom: 1px solid #6c757d;
    }
    .tracking__error .h2 {
        font-size: 22px;
        line-height: 1.2;
    }
    .checkout__find-address.active {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .checkout__appeal {
        width: 100%;
        margin-bottom: 15px;
    }
    .checkout__appeal-txt {
        width: 100%;
        padding: 0;
        font-size: 15px;
    }
    .checkout__find-address {}
}


/* ********** 13. REGIONS ********** */

.regions {
    padding: 10px 0;
}

.regions__item {
    margin: 0 -15px;
    padding: 10px 0;
}

.regions__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #99a2aa;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.regions__link:hover {
    color: #000;
    border: 1px solid #ced4da;
}

.regions__img {
    max-width: 60px;
    margin-right: 30px;
    opacity: 0.6;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.regions__link:hover .regions__img {
    opacity: 1;
}
